# Python cache ve derlenmiş dosyalar
__pycache__/
*.py[cod]
*$py.class

# Gizli ortam dosyaları
.env

# Sanal ortam klasörü
myenv/
venv/
ENV/
env/
venv.bak/

# Django'ya özgü
db.sqlite3
*.log

# Çalışma zamanı dosyaları
*.pot
*.pyc
*.pyo
*.pyd

# IDE'ler ve editörler için (ör. VSCode, PyCharm)
.vscode/
.idea/

# macOS dosyaları
.DS_Store
